.item-list {
    margin: 50px 5vw;
    clear: both;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
    padding-bottom: 60px;
}

header.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /*
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 50px;
    */
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-links{
    display: flex;
    justify-content: center; 
    gap: 3vw;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.account-settings a {
    text-decoration: none;
    color: black;
}

.library-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
}

.library-header .add-movie {
    position: absolute;
    right: 30px;
}

body {
    margin: 0;
    font-family: sans-serif;
    
}

.login-page {
    background-color: #f4f4f4;
}

footer.credit-login {
    text-align: center;
    padding : 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer.credit {
    text-align: center;
    padding : 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}

h1.login-title {
    position: absolute;
    top: 5vh;
    text-align: center;
    font-size: max(4em, min(5.5em, 6vw));
}

body.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login_box {
    background-color: white;
    padding: 40px 80px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-group .icon {
    font-size: 1.2em;
    margin-right: 10px;
    filter: brightness(0);
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    border: 1px solid #ccc;
    border-radius: 5px;
    
    padding: 11.5px 10px;
    background-color: #fff;
}

.input-group input {
    border: none;
    outline: none;
    font-size: 1em;
}

.login_box input[type="submit"] {
    flex: 1;
    padding: 12px;
    
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: none;

    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;

    transition: background-color 0.3s;
}


.login_box input[type="submit"]:hover, 
.setting-form button[type="submit"]:hover,
.add-movie:hover {
    background-color: #555;
}

.setting-form button[type="submit"],
.add-movie  {
    background-color: #333;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}


.form-actions {
    display: flex;
    gap: 10px;
}

form.setting-form {
    
    max-width: 1000px;
    margin-left: max(40px, calc((100% - 1000px) / 2));
    margin-right: max(40px, calc((100% - 1000px) / 2));

    padding: 20px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.setting-form fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

.setting-form legend {
    font-weight: bold;
}

.setting-form label {
    font-weight: 500;
    color: #333;
}


.setting-form input[type="text"],
.setting-form input[type="password"],
.setting-form textarea {
    width: 40%;
    padding: 10px;

    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    resize: vertical;
}

.setting-form textarea {
    width: 100%;
}

.setting-form fieldset.delete-field {
    border: 1px solid #ffcccc;
    background-color: #fff5f5;
}

.setting-form fieldset.delete-field button {
    background-color: #dc3545;
    color: white;
    border: none;

    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 4px;

    cursor: pointer;
}

.setting-form .update-settings {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.setting-form .update-settings a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    margin-right: 20px;
}

.activity-feed {
    height: 73%;
    margin: 30px;
    border: 1.5px solid #bbb;
    border-radius: 5px;
    padding: 20px 40px;
    overflow: auto;
}

.activity-feed article {
    margin-bottom: 25px;
}

.activity-feed header {
    display: flex;
    align-items: center;
}

.activity-feed header img {
    border-radius: 50%;
    margin-right: 10px;
}

.item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    
    align-items: center;
    text-align: center;
    
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    transition: transform 0.15s, box-shadow 0.15s;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

.item img {
    max-width: 130px;
    height: auto;

    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.item-details h2 {
    font-size: 1.2em;
    margin: 0 0 10px;
    color: #333;
}

.item-details p {
    font-size: 0.9em;
    color: #666;
    margin: 0;
    line-height: 1.4;
}