.item-list {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 300px;
    gap: 20px;
}

header.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /*
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 50px;
    */
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-links{
    display: flex;
    justify-content: center; 
    gap: 3vw;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.account-settings a {
    text-decoration: none;
    color: black;
}

.library-content {
    padding: 20px;
}

#userTitle {
    text-align: center;
    padding-top: 0.7em;
}

body {
    margin: 0;
    font-family: sans-serif;
    
}

.login-page {
    background-color: #f4f4f4;
}

footer.credit {
    text-align: center;
    padding : 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1.login-title {
    position: absolute;
    top: 50px;
    text-align: center;
    font-size: max(3em, 6vw);
}

body.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login_box {
    background-color: white;
    padding: 40px 80px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-group .icon {
    font-size: 1.2em;
    margin-right: 10px;
    filter: brightness(0);
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    border: 1px solid #ccc;
    border-radius: 5px;
    
    padding: 11.5px 10px;
    background-color: #fff;
}

.input-group input {
    border: none;
    outline: none;
    font-size: 1em;
}

.login_box input[type="submit"] {
    flex: 1;
    padding: 12px;
    
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: none;

    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;

    transition: background-color 0.3s;
}

.login_box input[type="submit"]:hover {
    background-color: #555;
}

.form-actions {
    display: flex;
    gap: 10px;
}

form.setting-form {
    
    max-width: 1000px;
    margin-left: max(40px, calc((100% - 1000px) / 2));
    margin-right: max(40px, calc((100% - 1000px) / 2));

    padding: 20px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.setting-form fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

.setting-form legend {
    font-weight: bold;
}

.setting-form label {
    font-weight: 500;
    color: #333;
}


.setting-form input[type="text"],
.setting-form input[type="password"],
.setting-form textarea {
    width: 40%;
    padding: 10px;

    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    resize: vertical;
}

.setting-form textarea {
    width: 100%;
}

.setting-form fieldset.delete-field {
    border: 1px solid #ffcccc;
    background-color: #fff5f5;
}

.setting-form fieldset.delete-field button {
    background-color: #dc3545;
    color: white;
    border: none;

    padding: 10px 15px;
    border-radius: 5px;

    cursor: pointer;
}

