.item-list {
margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 300px;
    gap: 20px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #f4f4f4;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-links{
    display: flex;
    justify-content: center; 
    gap: 3vw;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.account-settings a {
    text-decoration: none;
    color: black;
}

.library-content {
    padding: 20px;
}

#userTitle {
    text-align: center;
    padding-top: 0.7em;
}

body {
    margin: 0;
    font-family: sans-serif;
    
}

.login-page {
    background-color: #f4f4f4;
}