.item-list {
margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 300px;
    gap: 20px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #f4f4f4;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-links{
    display: flex;
    justify-content: center; 
    gap: 3vw;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.account-settings a {
    text-decoration: none;
    color: black;
}

.library-content {
    padding: 20px;
}

#userTitle {
    text-align: center;
    padding-top: 0.7em;
}

body {
    margin: 0;
    font-family: sans-serif;
    
}

.login-page {
    background-color: #f4f4f4;
}

footer.credit {
    text-align: center;
    padding : 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1.login-title {
    position: absolute;
    top: 50px;
    text-align: center;
    font-size: max(3em, 6vw);
}

body.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login_box {
    background-color: white;
    padding: 40px 80px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-group .icon {
    font-size: 1.2em;
    margin-right: 10px;
    filter: brightness(0);
}

